@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222831;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.container {
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
}

.square {
  width: calc(100% / 10);
  height: calc(100% / 10);
  background-color: yellow;
  border: 1px solid #000;
}
